<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="active text-center"><h5 class="genre_said">Ranking</h5></th>
    </tr>
  </thead>
  <tbody>
    <% post_image_ranks.each.with_index(5) do |post_image, i| %>
      <tr>
        第<%= i %>位
      </tr>
    <% end %>
  </tbody>
</table>