<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <div class="page-header">
        <h1>お問い合わせ</h1>
      </div>
      <p>
        お問い合わせいただきありがとうございました。
      </p>
    </div>
  </div>
</div>