<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'post_images/sidebar', post_image: @post_image, user: current_user %>
    <div class="col-md-8 offset-md-1">
      <h2></h2>
      <table class="table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
       </thead>

        <tbody>
          <% @tag_list.each do |list| %>
            <tr>
              <td>
              <%= link_to list.tag_name, tag_post_images_path(post_image_tag_id: list.id) %>
              </td>
              <td><%= "(#{list.post_images.count})" %></td>
            </tr>
          <% end %>
        </tbody>
        <tbody>
          <h4></h4>
          <tr>
            <td><% @post_images.each do |post_image| %></td>
          </tr>
          <tr>
            <td><%= link_to post_image.title, post_image_path(post_image.id) %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>